<!DOCTYPE html>
	<html>
	<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<title>Prototype</title>
	<link rel="stylesheet" href="/css/layui.css"></link>
	<script type="text/javascript" src="/js/jquery.js"></script>
	<script src="/js/layui.js"></script>
	<script>
	function formatDate(t) { 
	if(isNaN(t)){
	return ""; 
	}else{
	var now=new Date(t);
	var year=now.getFullYear();
	var month=now.getMonth()+1; 
	var date=now.getDate(); 
	return year+"-"+month+"-"+date; 
	}
	} 
		//JavaScript代码区域
		layui.use("element", function() {
			var element = layui.element;
			var $ = layui.jquery, element = layui.element; //Tab的切换功能，切换事件监听等，需要依赖element模块
		});
		$(document).ready(function() {
	$.ajax({
	type: "GET",
	url: "/state/TeamTable",
	data: {},
	dataType: "json",
	success: function(data){
	var html="";
	$.each(data, function (i, item) {
	html+='<tr align="center" style="height:60px">';
	html+='<td >'+item.iD+'</td>';
	html+='<td >'+item.name+'</td>';
	html+='<td >'+item.memberCount+'</td>';
	html+='<td >'+item.mKCount+'</td>';
	html+='</tr>';
	});
	$("#Team_table").html(html);
	}
	});
	$.ajax({
	type: "GET",
	url: "/state/ActivityLogTable",
	data: {},
	dataType: "json",
	success: function(data){
	var html="";
	$.each(data, function (i, item) {
	html+='<tr align="center" style="height:60px">';
	html+='<td >'+item.iD+'</td>';
	html+='<td >'+item.type+'</td>';
	html+='<td >'+item.operator+'</td>';
	html+='<td >'+item.content+'</td>';
	html+='<td >'+formatDate(item.createdTime)+'</td>';
	html+='<td >'+formatDate(item.modifiedTime)+'</td>';
	html+='</tr>';
	});
	$("#ActivityLog_table").html(html);
	}
	});
	$.ajax({
	type: "GET",
	url: "/state/UserTable",
	data: {},
	dataType: "json",
	success: function(data){
	var html="";
	$.each(data, function (i, item) {
	html+='<tr align="center" style="height:60px">';
	html+='<td >'+item.iD+'</td>';
	html+='<td >'+item.name+'</td>';
	html+='<td >'+item.password+'</td>';
	html+='<td >'+item.type+'</td>';
	html+='</tr>';
	});
	$("#User_table").html(html);
	}
	});
	$.ajax({
	type: "GET",
	url: "/state/MKTable",
	data: {},
	dataType: "json",
	success: function(data){
	var html="";
	$.each(data, function (i, item) {
	html+='<tr align="center" style="height:60px">';
	html+='<td >'+item.iD+'</td>';
	html+='<td >'+item.name+'</td>';
	html+='<td >'+item.groupID+'</td>';
	html+='<td >'+item.type+'</td>';
	html+='<td >'+item.projectID+'</td>';
	html+='<td >'+item.version+'</td>';
	html+='<td >'+item.content+'</td>';
	html+='</tr>';
	});
	$("#MK_table").html(html);
	}
	});
	$.ajax({
	type: "GET",
	url: "/state/ProjectTable",
	data: {},
	dataType: "json",
	success: function(data){
	var html="";
	$.each(data, function (i, item) {
	html+='<tr align="center" style="height:60px">';
	html+='<td >'+item.iD+'</td>';
	html+='<td >'+item.title+'</td>';
	html+='<td >'+item.content+'</td>';
	html+='<td >'+item.creator+'</td>';
	html+='</tr>';
	});
	$("#Project_table").html(html);
	}
	});
	$.ajax({
	type: "GET",
	url: "/state/ProjectHistoryTable",
	data: {},
	dataType: "json",
	success: function(data){
	var html="";
	$.each(data, function (i, item) {
	html+='<tr align="center" style="height:60px">';
	html+='<td >'+item.iD+'</td>';
	html+='<td >'+item.projectID+'</td>';
	html+='<td >'+item.version+'</td>';
	html+='<td >'+item.title+'</td>';
	html+='<td >'+item.content+'</td>';
	html+='<td >'+item.creator+'</td>';
	html+='<td >'+formatDate(item.createdTime)+'</td>';
	html+='<td >'+formatDate(item.modifiedTime)+'</td>';
	html+='</tr>';
	});
	$("#ProjectHistory_table").html(html);
	}
	});
	$.ajax({
	type: "GET",
	url: "/state/GrpTable",
	data: {},
	dataType: "json",
	success: function(data){
	var html="";
	$.each(data, function (i, item) {
	html+='<tr align="center" style="height:60px">';
	html+='<td >'+item.iD+'</td>';
	html+='<td >'+item.name+'</td>';
	html+='<td >'+item.creator+'</td>';
	html+='</tr>';
	});
	$("#Grp_table").html(html);
	}
	});
	$.ajax({
	type: "GET",
	url: "/state/CommentTable",
	data: {},
	dataType: "json",
	success: function(data){
	var html="";
	$.each(data, function (i, item) {
	html+='<tr align="center" style="height:60px">';
	html+='<td >'+item.iD+'</td>';
	html+='<td >'+item.name+'</td>';
	html+='<td >'+item.sourceType+'</td>';
	html+='<td >'+item.sourceID+'</td>';
	html+='<td >'+item.commentor+'</td>';
	html+='<td >'+item.content+'</td>';
	html+='<td >'+item.replyCount+'</td>';
	html+='<td >'+item.isDeleted+'</td>';
	html+='<td >'+formatDate(item.createdTime)+'</td>';
	html+='<td >'+formatDate(item.modifiedTime)+'</td>';
	html+='</tr>';
	});
	$("#Comment_table").html(html);
	}
	});
	$.ajax({
	type: "GET",
	url: "/state/CommentReplyTable",
	data: {},
	dataType: "json",
	success: function(data){
	var html="";
	$.each(data, function (i, item) {
	html+='<tr align="center" style="height:60px">';
	html+='<td >'+item.iD+'</td>';
	html+='<td >'+item.commentID+'</td>';
	html+='<td >'+item.commentor+'</td>';
	html+='<td >'+item.content+'</td>';
	html+='<td >'+item.replier+'</td>';
	html+='<td >'+item.isDeleted+'</td>';
	html+='<td >'+formatDate(item.createdTime)+'</td>';
	html+='<td >'+formatDate(item.modifiedTime)+'</td>';
	html+='</tr>';
	});
	$("#CommentReply_table").html(html);
	}
	});
	$.ajax({
	type: "GET",
	url: "/state/AuthorTable",
	data: {},
	dataType: "json",
	success: function(data){
	var html="";
	$.each(data, function (i, item) {
	html+='<tr align="center" style="height:60px">';
	html+='<td >'+item.iD+'</td>';
	html+='<td >'+item.userID+'</td>';
	html+='</tr>';
	});
	$("#Author_table").html(html);
	}
	});
	$.ajax({
	type: "GET",
	url: "/state/KeywordTable",
	data: {},
	dataType: "json",
	success: function(data){
	var html="";
	$.each(data, function (i, item) {
	html+='<tr align="center" style="height:60px">';
	html+='<td >'+item.iD+'</td>';
	html+='<td >'+item.content+'</td>';
	html+='</tr>';
	});
	$("#Keyword_table").html(html);
	}
	});
	});
	</script>
	</head>
	<body class="layui-layout-body">
		<div class="layui-layout layui-layout-admin">
			<div class="layui-header">
				<div class="layui-logo">Prototype MicroKnowledge</div>
				<ul class="layui-nav layui-layout-left">
						<li class="layui-nav-item"><a href="/main/index" id="s_function">System Function</a></li>
						<li class="layui-nav-item layui-this"><a href="/main/index2" id="s_state">System State</a></li>
				</ul>
			</div>
		<div class="layui-tab layui-tab-brief">
				<ul class="layui-tab-title">
			<li class="layui-this" id="Team">Team</li>
			<li id="ActivityLog">ActivityLog</li>
			<li id="User">User</li>
			<li id="MK">MK</li>
			<li id="Project">Project</li>
			<li id="ProjectHistory">ProjectHistory</li>
			<li id="Grp">Grp</li>
			<li id="Comment">Comment</li>
			<li id="CommentReply">CommentReply</li>
			<li id="Author">Author</li>
			<li id="Keyword">Keyword</li>
				</ul>
				<div class="layui-tab-content" style="height: 100px;">
					<div class="layui-tab-item layui-show" >
						<table style="margin: auto;width:600px;"  border="1">
							<thead>
								<tr align="center" style="height:100px">
								<td style="font-weight: bold">ID</td>
								<td style="font-weight: bold">Name</td>
								<td style="font-weight: bold">MemberCount</td>
								<td style="font-weight: bold">MKCount</td>
								</tr>
							</thead>
							<tbody id="Team_table">
							</tbody>
						</table>
					</div>
					<div class="layui-tab-item" >
						<table style="margin: auto;width:600px;"  border="1">
							<thead>
								<tr align="center" style="height:100px">
								<td style="font-weight: bold">ID</td>
								<td style="font-weight: bold">Type</td>
								<td style="font-weight: bold">Operator</td>
								<td style="font-weight: bold">Content</td>
								<td style="font-weight: bold">CreatedTime</td>
								<td style="font-weight: bold">ModifiedTime</td>
								</tr>
							</thead>
							<tbody id="ActivityLog_table">
							</tbody>
						</table>
					</div>
					<div class="layui-tab-item" >
						<table style="margin: auto;width:600px;"  border="1">
							<thead>
								<tr align="center" style="height:100px">
								<td style="font-weight: bold">ID</td>
								<td style="font-weight: bold">Name</td>
								<td style="font-weight: bold">Password</td>
								<td style="font-weight: bold">Type</td>
								</tr>
							</thead>
							<tbody id="User_table">
							</tbody>
						</table>
					</div>
					<div class="layui-tab-item" >
						<table style="margin: auto;width:600px;"  border="1">
							<thead>
								<tr align="center" style="height:100px">
								<td style="font-weight: bold">ID</td>
								<td style="font-weight: bold">Name</td>
								<td style="font-weight: bold">GroupID</td>
								<td style="font-weight: bold">Type</td>
								<td style="font-weight: bold">ProjectID</td>
								<td style="font-weight: bold">Version</td>
								<td style="font-weight: bold">Content</td>
								</tr>
							</thead>
							<tbody id="MK_table">
							</tbody>
						</table>
					</div>
					<div class="layui-tab-item" >
						<table style="margin: auto;width:600px;"  border="1">
							<thead>
								<tr align="center" style="height:100px">
								<td style="font-weight: bold">ID</td>
								<td style="font-weight: bold">Title</td>
								<td style="font-weight: bold">Content</td>
								<td style="font-weight: bold">Creator</td>
								</tr>
							</thead>
							<tbody id="Project_table">
							</tbody>
						</table>
					</div>
					<div class="layui-tab-item" >
						<table style="margin: auto;width:600px;"  border="1">
							<thead>
								<tr align="center" style="height:100px">
								<td style="font-weight: bold">ID</td>
								<td style="font-weight: bold">ProjectID</td>
								<td style="font-weight: bold">Version</td>
								<td style="font-weight: bold">Title</td>
								<td style="font-weight: bold">Content</td>
								<td style="font-weight: bold">Creator</td>
								<td style="font-weight: bold">CreatedTime</td>
								<td style="font-weight: bold">ModifiedTime</td>
								</tr>
							</thead>
							<tbody id="ProjectHistory_table">
							</tbody>
						</table>
					</div>
					<div class="layui-tab-item" >
						<table style="margin: auto;width:600px;"  border="1">
							<thead>
								<tr align="center" style="height:100px">
								<td style="font-weight: bold">ID</td>
								<td style="font-weight: bold">Name</td>
								<td style="font-weight: bold">Creator</td>
								</tr>
							</thead>
							<tbody id="Grp_table">
							</tbody>
						</table>
					</div>
					<div class="layui-tab-item" >
						<table style="margin: auto;width:600px;"  border="1">
							<thead>
								<tr align="center" style="height:100px">
								<td style="font-weight: bold">ID</td>
								<td style="font-weight: bold">Name</td>
								<td style="font-weight: bold">SourceType</td>
								<td style="font-weight: bold">SourceID</td>
								<td style="font-weight: bold">Commentor</td>
								<td style="font-weight: bold">Content</td>
								<td style="font-weight: bold">ReplyCount</td>
								<td style="font-weight: bold">IsDeleted</td>
								<td style="font-weight: bold">CreatedTime</td>
								<td style="font-weight: bold">ModifiedTime</td>
								</tr>
							</thead>
							<tbody id="Comment_table">
							</tbody>
						</table>
					</div>
					<div class="layui-tab-item" >
						<table style="margin: auto;width:600px;"  border="1">
							<thead>
								<tr align="center" style="height:100px">
								<td style="font-weight: bold">ID</td>
								<td style="font-weight: bold">CommentID</td>
								<td style="font-weight: bold">Commentor</td>
								<td style="font-weight: bold">Content</td>
								<td style="font-weight: bold">Replier</td>
								<td style="font-weight: bold">IsDeleted</td>
								<td style="font-weight: bold">CreatedTime</td>
								<td style="font-weight: bold">ModifiedTime</td>
								</tr>
							</thead>
							<tbody id="CommentReply_table">
							</tbody>
						</table>
					</div>
					<div class="layui-tab-item" >
						<table style="margin: auto;width:600px;"  border="1">
							<thead>
								<tr align="center" style="height:100px">
								<td style="font-weight: bold">ID</td>
								<td style="font-weight: bold">UserID</td>
								</tr>
							</thead>
							<tbody id="Author_table">
							</tbody>
						</table>
					</div>
					<div class="layui-tab-item" >
						<table style="margin: auto;width:600px;"  border="1">
							<thead>
								<tr align="center" style="height:100px">
								<td style="font-weight: bold">ID</td>
								<td style="font-weight: bold">Content</td>
								</tr>
							</thead>
							<tbody id="Keyword_table">
							</tbody>
						</table>
					</div>
			</div> 
		</div>
	</body>
	</html>
	