<head>
	<script type="text/javascript" src="/js/jquery.js"></script>
	<link rel="stylesheet" href="/css/layui.css"></link>
	<script src="/js/layui.js"></script>
	<script type="text/javascript">
	function execute() {
	
	var modelId=$("#modelId").val();
		$.ajax({
			 type : "DELETE",
			 url : "/DLMMSSystem/deleteModel",
	data : {
	modelId:modelId
	},
	dataType : "json",
	success : function(data,info,request) {
		//console.log(data);
		var a=JSON.stringify(data.data) 
		document.getElementById("data").innerHTML=a 
		var setToken = request.getResponseHeader("Authorization");
		if (data.msg == "success") {
			alert("execute success");
		} else {
			alert(data.msg);
		}
	},
	error : function(data) {
		console.log(data);
	}
	});
	}
	</script>
	</head>
	<body>
		<fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;"><legend>Operation Parameter</legend></fieldset>
	<div class="layui-form-item">
	<label class="layui-form-label">modelId</label>
	<div class="layui-input-inline">
	<input type="text" name="modelId" id="modelId" placeholder="Please enter content" autocomplete="off" class="layui-input">
	</div>
	</div>
	<div class="layui-form-item">
	<button class="layui-btn" style="margin-left: 100px; margin-top: 50px;" onclick="execute();" id="executeButton">execute</button>
	</div>
	<fieldset class="layui-elem-field layui-field-title" style="margin-top: 100px;"><legend>Operation Return</legend></fieldset>
	<div style="padding: 15px;margin-left:15px; ">
	<div class="layui-row layui-col-space15">
	<div class="layui-col-md6">
	<div class="layui-card" align="center">
	<div class="layui-card-body " style="background-color: 	#FFFFFB;">
	<span id="data" style="font-weight:bold;"></span>
	</div>
	</div>
	</div>
	</div></div>
	</body>
	